/***********************************************************************************************************************************************************
*******************************************************************Global Styling**************************************************************************
************************************************************************************************************************************************************/
html,body
{
    height: auto;
    width: 100%;
    overflow-x: hidden; 
    background-color: black;
}
.main{
    position: absolute;
    border: white;
    left: 0;
    right: 0;
    bottom: 0;
}
/***********************************************************************************************************************************************************
*******************************************************************Header Styling**************************************************************************
************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************
*******************************************************************Control Styling**************************************************************************
************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************
*******************************************************************Color Styling**************************************************************************
************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************
*******************************************************************Element Styling**************************************************************************
************************************************************************************************************************************************************/

.button {
    background-color: rgb(175,175,175); /* Gray */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2.5vmin;
    width:40%;
    margin: auto;
}

